<!DOCTYPE html>
<html lang ="en">
    <head>
        <!-- The head info is replaced with the head partial -->
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <!-- Navigation -->
        <!-- Navigation is replaced with the nav partial -->
        <% include ./partials/navbar.ejs %>

        <!-- Page Content -->
        <main class="container">

            <header class="jumbotron my-2">
                <h1 class="display-5">Blocipedia: Social, Markdown Wikis</h1>
                <p class="lead">Create and share Markdown Wikis</p>
                <a href="#" class="btn btn-primary btn-lg">Sign-up</a>
            </header>

            <!-- Page Features Look into putting planns side by side-->

            <section class="col-lg-4">
                <h4 class="card-title">Free Plan</h4>
                <a href="#" class="btn btn-primary btn-lg">Free Plan</a>
                <p class="card-text">Create as many public wikis as you want!</p>
            </section>

            <section class="col-lg-4">
                <h4 class="card-title">Premium Plan</h4>
                <a href="#" class="btn btn-primary btn-lg">Premium Plan</a>
                <p class="card-text">Create private wikis!</p>
            </section>

        </main>
          <!-- Cut out base scripts and moved into seperate folder instead of commenting out -->
          <% include ./partials/baseScripts.ejs %>
    </body>
</html>